.services-details {
    margin-top: 10px;
    margin-bottom: 50px;
}
.services-item {
    position: relative;
    height: 100%;
}

.learn-btn {
    position: absolute;
    left: 130px;
    bottom: 50px;
}
.services-holder {
    display: flex;
    flex-wrap: wrap;
}
.service-box{
    margin-top: 35px;
}
