<app-navbar-style-one></app-navbar-style-one>

<div class="container">
    <crossed-line-title [titleTinyPart]="'Our'" [titleBoldPart]="'Services'"></crossed-line-title>

    <div class="row pt-45">
        <div class="col-lg-4 col-md-6">
            <div class="services-item">
                <h3><a routerLink="/services-details">Data Analitics</a></h3>
                <div class="services-item-img">
                    <a routerLink="/services-details"><img src="assets/img/service/service-icon7.png" alt="Images"></a>
                    <div class="img-circle"></div>
                </div>
                <p>Lorem ipsum dolor sit ametaut odiut perspiciatis unde omnis iste quuntur alquam quaerat rsit amet</p>
                <a routerLink="/services-details" class="learn-btn">Learn more <i class='bx bx-plus'></i></a>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="services-item">
                <h3><a routerLink="/social-media-management">Social Media Management</a></h3>
                <div class="services-item-img">
                    <a routerLink="/social-media-management"><img src="assets/img/service/service-icon8.png" alt="Images"></a>
                    <div class="img-circle"></div>
                </div>
                <p>Lorem ipsum dolor sit ametaut odiut perspiciatis unde omnis iste quuntur alquam quaerat rsit amet</p>
                <a routerLink="/social-media-management" class="learn-btn">Learn more <i class='bx bx-plus'></i></a>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
            <div class="services-item">
                <h3><a routerLink="/software-development-details">Software Development</a></h3>
                <div class="services-item-img">
                    <a routerLink="/software-development-details"><img src="assets/img/service/service-icon3.png" alt="Images"></a>
                    <div class="img-circle"></div>
                </div>
                <p>Lorem ipsum dolor sit ametaut odiut perspiciatis unde omnis iste quuntur alquam quaerat rsit amet</p>
                <a routerLink="/software-development-details" class="learn-btn">Learn more <i class='bx bx-plus'></i></a>
            </div>
        </div>


    </div>

</div>

<!--<div class="brand-logo-area pt-100">-->
<!--    <div class="container-fluid">-->
<!--        <div class="container-max">-->
<!--            <div class="brand-logo-slider owl-carousel owl-theme">-->
<!--                <div class="brand-logo-item">-->
<!--                    <img src="assets/img/brand/brand-logo1.png" alt="Images">-->
<!--                </div>-->

<!--                <div class="brand-logo-item">-->
<!--                    <img src="assets/img/brand/brand-logo2.png" alt="Images">-->
<!--                </div>-->

<!--                <div class="brand-logo-item">-->
<!--                    <img src="assets/img/brand/brand-logo3.png" alt="Images">-->
<!--                </div>-->

<!--                <div class="brand-logo-item">-->
<!--                    <img src="assets/img/brand/brand-logo4.png" alt="Images">-->
<!--                </div>-->

<!--                <div class="brand-logo-item">-->
<!--                    <img src="assets/img/brand/brand-logo5.png" alt="Images">-->
<!--                </div>-->

<!--                <div class="brand-logo-item">-->
<!--                    <img src="assets/img/brand/brand-logo6.png" alt="Images">-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<app-footer-style-two></app-footer-style-two>
