<footer class="footer-area footer-bg2 pt-100">
    <div class="container">
        <div class="footer-midal pb-70">
            <div class="row">
                <div class="col-lg-4 col-sm-7">
                    <div class="footer-widget">
                        <div class="footer-img">
                            <img style="width: 150px" src="assets/img/logo/LOGO_SVG.svg" alt="Images">
                        </div>
                        <p>Nous ne sommes pas les seuls mais nous vous rendrons le plus satisfait.</p>
                        <div class="footer-social-icon">
                            <ul class="social-link">
                                <li><a href="#" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                                <li><a href="#" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                                <li><a href="#" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                                <li><a href="#" target="_blank"><i class='bx bxl-pinterest-alt'></i></a></li>
                                <li><a href="#" target="_blank"><i class='bx bxl-youtube'></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-sm-5">
                    <div class="footer-widget">
                        <h3>Services</h3>

                        <ul class="footer-list">
                            <li><a routerLink="/software-development">Développement logiciel</a></li>
                            <li><a routerLink="/services-data">Technologies Avancées</a></li>
                            <li><a routerLink="/social-media-management">Identité visuelle</a></li>
                            <li><a routerLink="/services">Coordination de Projets Informatiques</a></li>
                            <li><a routerLink="/services">Formation IT</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-7">
                    <div class="footer-widget pl-5">
                        <h3>Secteurs d'activité</h3>

                        <ul class="footer-list">
                            <li>Transports & logistique</li>
                            <li>Retail</li>
                            <li>Aéronautique</li>
                            <li>Commerces de proximité</li>
                            <li>Administration publique</li>
                            <li>Laboratoire de recherche</li>
                            <li>Automobile</li>
                            <li>CIndustries en tous genres</li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-5">
                    <div class="footer-widget">
                        <h3>Adresse</h3>

                        <ul class="footer-list-two">
<!--                            <li><i class='flaticon-telephone'></i><a href="tel:+4498886660000">+212 645876609</a></li>-->
                            <li><i class='flaticon-email-1'></i><a href="mailto:tendexe.contact@gmail.com">tendexe.contact@gmail.com</a></li>
                            <li><i class='flaticon-place'></i>Paris , France</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="copy-right-area">
            <div class="row">
                <div class="col-lg-8">
                    <div class="copy-right-text text-start">
                        <p>Copyright @2023 TENDEXE. All Rights Reserved by TENDEXE </p>
                    </div>
                </div>

<!--                <div class="col-lg-4">-->
<!--                    <div class="copy-right-list">-->
<!--                        <ul>-->
<!--                            <li><a routerLink="/privacy-policy"> Privacy Policy</a></li>-->
<!--                            <li><a routerLink="/terms-conditions"> Terms & Conditions</a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
    </div>
</footer>
