<app-navbar-style-one></app-navbar-style-one>

<div class="container">
    <crossed-line-title [titleBoldPart]="'Questions'" [titleTinyPart]="'Frequently Asked'"></crossed-line-title>
</div>


<div class="faq-area">
    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="faq-accordion">
                    <ul class="accordion">
                        <li class="accordion-item">
                            <a class="accordion-title" href="javascript:void(0)"><i class='bx bx-chevron-down'></i> What services do you offer?</a>
                            <div class="accordion-content">
                                <p>We offer a range of IT services including web development, mobile app development, data analytics, and social media marketing. Our expert team can help bring your digital product ideas to life.</p>
                            </div>
                        </li>

                        <li class="accordion-item">
                            <a class="accordion-title" href="javascript:void(0)"><i class='bx bx-chevron-down'></i> How much does it cost to build a website?</a>
                            <div class="accordion-content">
                                <p>The cost to build a website can range from $500 to $100,000+. Factors like design complexity, custom functionality, and platform (e.g. WordPress vs custom code) impact cost. We provide customized quotes for each project.</p>
                            </div>
                        </li>

                        <li class="accordion-item">
                            <a class="accordion-title" href="javascript:void(0)"><i class='bx bx-chevron-down'></i> What is your app development process?</a>
                            <div class="accordion-content">
                                <p>Our app dev process includes planning, UX design, development, QA testing, and launch. We utilize agile methodologies to deliver apps iteratively based on priority features. Maintenance and updates continue post-launch.</p>
                            </div>
                        </li>

                        <li class="accordion-item">
                            <a class="accordion-title active" href="javascript:void(0)"><i class='bx bx-chevron-down'></i> How can you help with our digital marketing?</a>
                            <div class="accordion-content show">
                                <p>Our data-driven approach to digital marketing includes SEO, paid ads, email, social media, and more. We'll analyze your business, identify opportunities, execute targeted campaigns, and track KPIs to maximize ROI.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="faq-accordion">
                    <ul class="accordion">
                        <li class="accordion-item">
                            <a class="accordion-title" href="javascript:void(0)"><i class='bx bx-chevron-down'></i> What web development skills do you have?</a>
                            <div class="accordion-content">
                                <p>Our web developers are highly skilled in HTML, CSS, JavaScript, PHP, Python, Ruby, Node.js, React, Angular, and more. We build custom web apps, e-commerce sites, intranets, and progressive web apps.</p>
                            </div>
                        </li>

                        <li class="accordion-item">
                            <a class="accordion-title" href="javascript:void(0)"><i class='bx bx-chevron-down'></i> How long does mobile app development take?</a>
                            <div class="accordion-content">
                                <p>A simple app can take 1-3 months. More complex apps with custom features can take 6+ months. We provide time estimates tailored to your specific project requirements during the discovery phase.</p>
                            </div>
                        </li>

                        <li class="accordion-item">
                            <a class="accordion-title" href="javascript:void(0)"><i class='bx bx-chevron-down'></i> What data analytics services do you offer?</a>
                            <div class="accordion-content">
                                <p>Our data analytics services include data integration, BI reporting, predictive modeling, data visualization, and more. We help organizations gain insights to optimize operations, marketing, sales, and other areas.</p>
                            </div>
                        </li>

                        <li class="accordion-item">
                            <a class="accordion-title active" href="javascript:void(0)"><i class='bx bx-chevron-down'></i> How do I hire you for a project?</a>
                            <div class="accordion-content show">
                                <p>Contact us online or by phone to discuss your needs. We'll provide a project estimate and have you sign our services agreement to get started. Our team looks forward to partnering with you!</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer-style-two></app-footer-style-two>
